@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  color: #463A2C;
  background-color: #f8f1e8;
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh; 
}

.app-container {
  display: flex;
  min-height: 100vh; 
}

.menu {
  flex: 0 0 25%;
  align-items: stretch;
  background-color: #f0e6da;

  transition: 0.5s ease;
  padding: 40px;
}

li {
  list-style-type: none;
}


/*-----------------------------------------*/
h1, h2 {
  font-family: "IM Fell Great Primer", serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

/*-----------------------------------------*/
.header, .table-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 

  padding: 50px;
  margin: 40px;

  border-radius: 50px;
  background-color: #f0e6da;

  text-align: center;
}

button {
  flex: 0 0 50px; 

  border: none;
  background-color: #463A2C;
  color:#f8f1e8;
  padding: 20px;
  border-radius: 100px;

  font-family: "Open Sans", sans-serif;
}

